html {
  max-width: 794px;
  height: 1123px;
  margin: auto;
}

.bg-left {
  background: #B26E63;
  color: white;
}

.bg-left table {
  font-size: 0.85rem;
}

.col-8 {
  background: #E5DCC5;
}

.unchecked {
  color: black;
}

.lfName {
  letter-spacing: .2rem;
}

div.h2.ml-4.mt-4 {
  width: 300px;
  line-height: 20px;
}
